doctype html
html
    head
        style().
            body {
                overflow: hidden;
                width: 100%;
            }

            .container {
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            h1, p {
                display: flex;
                justify-content: center;
            }

            a {
                text-decoration: none;
                color: black;
                background: red;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0px 10px 30px pink;
            }
    body
        div.container
            h1 Possibile furto rilevato!

        p Ciao #{name}, il veicolo #{brand} targato #{plate} potrebbe star subendo un furto
        p
            a(href='127.0.0.1:3000') Verifica lo stato del tuo veicolo sulla tua dashboard FindME!
