@import "../../colors.scss";
* {
  font-family: Bahnschrift SemiBold;
  resize: none;
}

.loginHeader{
  width: 100%;
  display: flex;
  justify-content: center;
  .loginHeaderImg {
    margin: 20px 0 0 0;
    width: 5%;
    align-content: center;
  }
}

.dot {
  height: 20px;
  width: 20px;
  @include theme(background-color, primaryLight);
  border-radius: 50%;
  display: inline-block;
}

.signupFormFrame {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  row-gap: 0px;

  width: 60%;
  margin: 10% auto auto auto;
  border-radius: 25px;
  box-shadow: color(primaryLightRed) 20px 10px 30px -10px;
  border-color: black;
  border-style: solid;
  padding: 1rem;
  overflow: hidden;

  #brand:focus ~ #react-autowhatever-1 {
    height: 10vh;
  }

  #react-autowhatever-1{
    position: relative;
    top: 0px;
    width: 80%;
    margin: 0 auto auto auto;
    overflow:hidden;
    overflow-y:scroll;

    & li{
      list-style-type: none;
      &:hover{
        @include theme(background-color, backgroundDark)
      }
    }
  }

  label {
    margin: 10px 0 0 1%;
    font-size: 1.2rem;
    flex-basis: 100%;
  }

  &>div[role=combobox]{
    width: 98%;
  }

  input[type=text], input[type=password] {
    display: block;
    width: 80%;
    height: 2rem;
    margin: 1% 10% 1% 10%;
    font-size: 1.1rem;
  }
  span {
    margin-top: 5%;
    input[type=text] {
      height: auto;
      margin-bottom: 0;
    }
  }
}

.passwordStrengthBar {
  display: inline-block;
  width: 30%;
  margin: 1% 8% 0 auto;
  & *{
    font-size: 3rem;
  }
}

.signupButtons {
  position: absolute;
  bottom: 5%;
  & * {
    font-size: 1.2em;
    border-radius: 5px;
    padding: 10px;
  }
  .prevBtn {
    @include theme(background-color, backgroundLight);
    transition: transform 100ms;

    &:hover {
      @include theme(color, textHighContrast);
      transform: scale(1.2);

    }
  }

  .nextBtn {
    @include theme(background-color, backgroundLight);
    @include theme(color, primaryLight);
    @include theme(border-color, primaryLight);
    transition: transform 100ms;

    &:hover {
      background-color: #E2323796;
      color: white;
      border-color: #E2323796;
      transform: scale(1.2);


    }

  }
}

.signupProgressBar{
  display: block;
  margin: 2% auto 0 auto;
  width: 40%;
}

.car-plate-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;

  input[type=text] {
    display: inline-flex;
    padding-left: 5%;
    width: 70%;
    font-size: 4rem;
    background: none;
    border: none;
    text-transform: uppercase;

  }

  .registration-ui {
    background: linear-gradient(to bottom, #f8d038 0%,#f5ca2e 100%);
    padding: 0.1em 0em 0.5em 0em;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #000;
    position: relative;
    font-family: helvetica, ariel, sans-serif;

    &:before {
      content: 'IT';
      display: flex;
      justify-content: center;
      width: 10%;
      height: 100%;
      background: #063298;
      position: absolute;
      top: 0;
      border-radius: 5px 0 0 5px;
      color: white;
      font-size: 3rem;
      line-height: 130px;
      padding: 0 10px 0 10px;
    }

    &:after {
      content: '';
      display: flex;
      justify-self: center;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 7px;
      left: 4%;
      border-radius: 30px;
      border: 1px dashed white;
    }
  }
}

@media only screen and (max-width: 900px) {
  .loginHeader{
    .loginHeaderImg {
      margin-top: 10px;
      width: 20%;
      align-content: center;
    }
  }

  .signupFormFrame {
    row-gap: clamp(5px, 10%, 20px);

    #react-autowhatever-1{
      width: 90%;
    }
    input[type=text], input[type=password] {
      margin: 0% 10% 0px 10%;
    }
  }

  .signupButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .nextBtn {
      background-color: white;
      transition: transform 100ms;

      &:hover {
        @include theme(background-color, backgroundLight);
        @include theme(color, primaryLight);
        transform: none;

      }

    }

    .prevBtn {
      background-color: white;
      transition: transform 100ms;


      &:hover {
        background-color: white;
        @include theme(background-color, backgroundLight);
        @include theme(color, textHighContrast);
        transform: none;

      }

    }
  }

  .car-plate-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;

    input[type=text] {
      display: inline-flex;
      padding-left: 5%;
      width: 85%;
      font-size: 3rem;
      background: none;
      border: none;
      text-align: center;

    }

    .registration-ui {
      background: linear-gradient(to bottom, #f8d038 0%,#f5ca2e 100%);
      padding: 0.1em 0em 0.5em 0em;
      font-weight: bold;
      border-radius: 5px;
      border: 1px solid #000;
      position: relative;
      font-family: helvetica, ariel, sans-serif;

      &:before {
        content: 'IT';
        display: flex;
        justify-content: center;
        width: 8%;
        height: 100%;
        background: #063298;
        position: absolute;
        top: 0;
        border-radius: 5px 0 0 5px;
        color: white;
        font-size: 1rem;
        line-height: 100px;
        padding: 0 10px 0 10px;
      }

      &:after {
        content: '';
        display: flex;
        justify-self: center;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 7px;
        left: 5%;
        border-radius: 30px;
        border: 1px dashed white;
      }
    }
  }
}