$colors: (
        primaryLightRed: #E23237,
        primaryDarkRed: #B32D30,
        tronLightBlue: #a1fefe,
        tronDarkBlue: #004242,
        myWhite: #FFFFFF,
        myBlack: #232121,
        myLightGrey: #EEEEEE,
        myDarkGrey: #3a3a3a,
        invisible: rgba(255, 255, 255, 0)
);