@import "../../colors.scss";

.fullIcon {
    width: 100%;
    margin-left: 1%;
}
em {
    @include theme (color, primaryLight);
    font-style: normal
}

footer {
    grid-row: 3;
    @include theme (background-color, backgroundDark);
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        display: flex;
    }
}

.menuContainer {
    display: flex;
    margin-left: auto;
    margin-right: 10px;

    &.openMenu {
        .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }

        .bar2 {
            opacity: 0;
        }

        .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: start;
        padding-inline-start: 0;
        @include theme(background, backgroundDark);
        border-radius: 2rem;
        margin: 0 20px 0 0;
        padding: 0 0 0 10px;

        li {
            margin-left: auto;
            display: flex;
            flex-direction: row;
            transition: transform 100ms;
            animation: mymove 5s normal;
            height: 90%;
            align-items: center;
            justify-content: center;

            &:not(:is(.lastItem)):active {
                transform: translateY(-5px);
            }

            &.lastItem {
                background-image: linear-gradient(to bottom, color(primaryLightRed),color(primaryDarkRed));
                margin-left: 10px;
                border-radius: 0 2rem 2rem 0;
                color: white;
                height: 100%;
                align-items: center;
                justify-content: center;
                opacity: 1;

                a {
                    color: white;
                    vertical-align: center;
                    text-align: center;

                }
            }

            a {
                padding: 2rem;
                display: inline-block;
                text-align: center;
                @include theme(color, textHighContrast);
                text-decoration: none;
                font-family: Bahnschrift SemiBold;
                font-size: 1.2rem;

            }

            a:hover {
                transform: scale(1.2);
            }

            &.sel{
                border-radius: 2rem;
                background-image: linear-gradient(to bottom, #E2323796, #E23237);

                a{
                    color: #FFFFFF;
                }
            }
        }
    }

    .menuIcon {
        visibility: hidden;
        margin-left: auto;

        .bar1, .bar2, .bar3 {
            width: 35px;
            height: 5px;
            @include theme(background-color, primaryLight);
            margin: 6px 0;
            transition: 0.4s;
        }
    }
}

.contactsContainer {
    margin-top: 10vh;
    width: 70%;
    left: calc(15% - 10px);
    padding: 10px;
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1.5fr;
    @include theme(background-color, backgroundDark);
    border-radius: 10px;

    .titleTime {
        grid-area: 1 /span 2;
        display: flex;
        justify-content: center;
    }

    .openTime {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-right: dotted 3px black;

        .days{
            grid-template-rows: repeat(7, 1fr);
            list-style:none;
            display: inline-grid;
        }

        .hours{
            grid-template-rows: repeat(7, 1fr);
            list-style:none;
            display: inline-grid;
            & li {
                display: flex;
                justify-content: center;
            }
        }
    }
    .contacts {
        display: grid;
        grid-template-rows: 20px 1fr 1fr 1fr 1fr;
        .title {
            grid-area: 1;
        }
        .email1 {
            grid-area: 3;
        }
        .email2 {
            grid-area: 4;
        }
        .tel {
            grid-area: 5;
        }

        & > * {
            display: flex;
            justify-content: center;
        }

    }
}

nav {
    display: grid;
    grid-template-columns: clamp(12rem, 55%, 22rem) 1fr;
    @include theme(background, backgroundLight);
}

#page {
    display: grid;
    grid-template-rows: auto 1fr 2rem;
    min-height: 100vh;
}

.publicContent {
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p {
        margin: 5%;
    }
    .slideshow {
        width: 60%;
        display: flex;
        justify-self: center;
        align-items: center;

        .next, .prev {
            position: absolute;
            background: white;
            opacity: 0.5;
            height: 15%;
            padding: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
            cursor: pointer;
            font-weight: bold;
            font-size: 18px;
            z-index: 2;
            border-radius: 15px;
            transition: opacity 0.05s;
            &:hover{
                opacity: 0.7;
            }
        }

        .next {
            right: 23%;
        }

        .prev {
            left: 23%;
        }

        img {
            position: relative;
            border-radius: 20px;;
            width: 100%;
            aspect-ratio: 10 / 4;
            object-fit: cover;
        }
    }

    &.infoProduct {
        display: flex;
        justify-content: center;
        flex-direction: row;
        .image {
            display: flex;
            width: 21rem;
            height: 21rem;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 0px 30px 40px -25px black;
        }

        .description {
            margin-left: 20px;
            width: 30vw;
        }
    }

}

@media only screen and (max-width: 900px) {

    footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .fullIcon {
        width: clamp(12rem, 55%, 22rem);
    }

    nav {
        display: inline-flex;
        align-items: center;
        a {
            z-index: 10;
        }
    }

    .menuContainer {
        .menuIcon {
            visibility: visible;
            margin-left: auto;
            margin-right: 0;
            pointer-events: none;
        }

        &.openMenu .menu li {
            visibility: visible;
            height: 3em;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);

        }

        .menu {
            @include theme(background, none);
            padding: clamp(0%, 0.5vw,  5%) 0 0 0%;
            display: flex;
            position: absolute;
            left: 0.5%;
            z-index: 3;
            margin: 50px 0 0 0;
            flex-direction: column;
            width: 99%;
            justify-content: center;
            align-items: center;

            li {
                visibility: hidden;
                height: 0;
                padding: 0;
                border: 0;
                transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
                font-family: Bahnschrift SemiBold;
                font-size: 1.2em;
                outline: 1px;
                display: inline-flex;
                justify-content: center;
                text-align: end;
                width: 100%;
                @include theme(background-color, backgroundLight);

                &:active {
                    transform: none;
                    transition: none;
                }

                &.sel {
                    padding: 0;
                    border-radius: 0;
                    background-image: none;

                    a {
                        @include theme(color, primaryLight);
                        @include theme(text-underline, primaryLight);
                        text-decoration: underline;
                        text-underline-offset: 0.5rem;
                    }
                }

                &:not(:is(.lastItem)):active {
                    transform: none;
                }

                &:last-child {
                    border-top: none;
                    border-bottom: none;
                }

                &.lastItem {
                    border-radius: 0;
                    margin: 0;
                    padding: 0;
                    height: auto;
                }

                a {
                    overflow: hidden;
                    padding: 1em 42% 1em 42%;
                }

                a:hover {
                    transform: none;
                }

                a:active {
                    transform: none;
                    transition: none;
                }
            }

        }
    }

    .contactsContainer{
        width: 90%;
        left: calc(5% - 10px);
        display: grid;
        position: absolute;
        grid-template-rows: 1.2fr 1fr;
        grid-template-columns: 1fr;
        border-radius: 10px;

        .titleTime {
            grid-area: 1 /span 2;
            display: flex;
            justify-content: center;
        }

        .openTime {
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-right: none;
            border-bottom: dotted 3px black;

            .days{
                grid-template-rows: repeat(7, 1fr);
                list-style:none;
                display: inline-grid;
            }

            .hours{
                grid-template-rows: repeat(7, 1fr);
                list-style:none;
                display: inline-grid;
                & li {
                    display: flex;
                    justify-content: center;
                }
            }
        }
        .contacts {
            margin-top: 20px;
            grid-row: 2;
            display: grid;
            grid-template-rows: 20px 1fr 1fr 1fr 1fr;
            .title {
                grid-area: 1;
            }
            .email1 {
                grid-area: 3;
            }
            .email2 {
                grid-area: 4;
            }
            .tel {
                grid-area: 5;
            }

            & > * {
                display: flex;
                justify-content: center;
            }

        }
    }
    .publicContent {
        .slideshow {
            width: 95%;
            .next, .prev {
                height: 5%;
                padding: 5%;
            }

            .next {
                right: 5%;
            }

            .prev {
                left: 5%;
            }
        }

        &.infoProduct {
            display: flex;
            .image {
                width: 45vw;
                height: 45vw;
                box-shadow: 0px 30px 40px -25px black;
            }

            .description {
                margin-left: 20px;
                width: 80vw;
            }
        }
    }
}