@import 'colors.scss';
.debug {
  background-color: rgba(226,50,55,0.15);
}
html {
  @include generateThemeVariables;
}

body {
  margin: 0;
  overflow-x: hidden;
}

nav {
  @include theme(background-color, backgroundDark);
}



.container {
  display: inline-block;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {

}
